/* NAVIGATION STUFF GOES HERE  */
nav button{display: none;}

nav{
    background-color: $menuColor;

    ul{
        display: flex;
        margin-left: 2%;
    }
    ul li {border-right: 1px solid rgba(0,0,0,0.1);}
    ul li a{
        display: block;
        font-size: 1rem;
        padding: .9rem 1.2rem;
        color: rgba(255,255,255,0.9);
        text-decoration: none;
        transition: background 0.3 linear;
    }
    ul li a:hover {background: rgba(0,0,0,0.5)}

    #primaryNav li.parent > a:after {
        content:"\25bc";
        font-size: .65rem;
        color: rgba(255,255,255,0.5);
        float: left;
    }
    ul li ul {
        display: flex;
        flex-direction: column;
        background-color: darken($menuColor, 5%);
        border: none;
        width: 14rem;
        position: absolute;
        left: -999rem;
        z-index: 99;
    }
    ul li ul li {
        border-right: none;
        border-top: solid 1px rgba(0,0,0,0.2)
    }

    ul li:hover ul{
        left: auto;
        margin-left: 0;
    }

    li.active a {background-color: rgba(0,0,0,0.2);}
}// end nav

main{
    .reviewWrapper{
        section{
            padding: 0;
            display: grid;
            grid-template-columns: 140px auto;
            column-gap: 4px;
            
        } // end section
    }// end reviewWrapper

    .imageWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}



